{
  "compact": true,
  "presets": [
    [
      "env", {
        "targets": {
          "targets": {
            "node": "current"
          }
        },
        "useBuiltIns": true
      }
    ],
    "stage-1"
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
