{
  "compact": true,
  "presets": [
    [
      "env", {
        "targets": {
          "targets": {
            "node": "current"
          }
        },
        "useBuiltIns": true
      }
    ],
    "stage-1"
  ],
  "plugins": [
    [
      "transform-runtime", {
        "regenerator": true
      },
      "module-resolver", {
        "alias": {
          "app": "./src"
        }
      }
    ]
  ]
}
