{
  "compact": true,
  "presets": [
    [
      "env", {
        "targets": {
          "targets": {
            "node": "current"
          }
        },
        "useBuiltIns": true
      }
    ],
    "stage-1"
  ]
}
